<strong>Hi {{ ownerName }}!</strong>
<p>There is a new subscription at your meetapp <strong>{{ meetappTitle }}</strong></p>
<p>
  <strong>Date: </strong>{{ meetappDate }} <br />
  <br />
  <strong>Subscriber: </strong>{{ userSubName }}<br />
  <strong>E-mail: </strong>{{ userSubEmail }}<br /><br /><br />
  <small>Subscribed at: {{ sendDate }}</small>
  <br />
</p>
